<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="./favicon.ico">

		<title>Apartment in the air</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="./styles/site.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" title="AITA">AITA</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="#" title="Căn hộ / chung cư">Căn hộ / chung cư</a></li>
						<li><a href="#" title="Phòng cho thuê">Phòng cho thuê</a></li>
						<li><a href="#" title="Nhà riêng">Nhà riêng</a></li>
						<li><a href="/login" title="Đăng nhập">Đăng nhập</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<div class="jumbotron">
					<h1>Apartment in the air</h1>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</div>
			</div>
			<div class="row">
				<form action="#" role="form" name="search-form">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Lorem Ipsum is simply dummy text of the printing">
					</div>
				</form>
			</div>
			<div class="row">
				<form action="#" role="form" name="filter-form">
					<ul class="nav navbar-nav">
						<li>
							<select name="price" id="" class="form-control">
								<option value="0">Giá</option>
								<option value="1">0 - 1 triệu</option>
								<option value="2">1 - 2 triệu</option>
								<option value="3">2 - 3 triệu</option>
								<option value="4">3 - 4 triệu</option>
								<option value="5">4 - 6 triệu</option>
								<option value="6">6 - 10 triệu</option>
								<option value="7">10 - 15 triệu</option>
								<option value="8">Trên 15 triệu</option>
							</select>
						</li>
						<li>
							<select name="area" id="" class="form-control">
								<option value="0">Diện tích</option>
								<option value="1">0 - 10 m2</option>
								<option value="2">10 - 20 m2</option>
								<option value="3">20 - 30 m2</option>
								<option value="4">30 - 40 m2</option>
								<option value="5">40 - 50 m2</option>
								<option value="6">50 - 60 m2</option>
								<option value="7">60 - 80 m2</option>
								<option value="8">Trên 80 m2</option>
							</select>
						</li>
						<li>
							<select name="price" id="" class="form-control">
								<option value="0">Quận</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">Bình Thạnh</option>
								<option value="14">Thủ Đức</option>
								<option value="15">Phú Nhuận</option>
								<option value="16">Tân Bình</option>
								<option value="17">Gò Vấp</option>
								<option value="18">Tân Phú</option>
								<option value="19">Bình Chánh</option>
							</select>
						</li>
						<li>
							<select name="price" id="" class="form-control">
								<option value="0">Phường</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
							</select>
						</li>
					</ul>
				</form>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<h3>Lorem Ipsum is simply dummy</h3>
					<div class="list-items">
						<div class="row">
							<div class="col-md-4">
								<img src="./images/thumbs.png" alt="aita" class="">
							</div>
							<div class="col-md-4">
								<p><i class="fa fa-home"> 40m<sup>2</sup></i></p>
								<p><i class="fa fa-bed"> 2</i></p>
							</div>
							<div class="col-md-4">
								<p><i class="fa fa-phone-square"> 0909090909</i></p>
								<p><i class="fa fa-money"> 1.000.000 VNĐ</i></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<img src="./images/thumbs.png" alt="aita" class="">
							</div>
							<div class="col-md-4">
								<p><i class="fa fa-home"> 40m<sup>2</sup></i></p>
								<p><i class="fa fa-bed"> 2</i></p>
							</div>
							<div class="col-md-4">
								<p><i class="fa fa-phone-square"> 0909090909</i></p>
								<p><i class="fa fa-money"> 1.000.000 VNĐ</i></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<img src="./images/thumbs.png" alt="aita" class="">
							</div>
							<div class="col-md-4">
								<p><i class="fa fa-home"> 40m<sup>2</sup></i></p>
								<p><i class="fa fa-bed"> 2</i></p>
							</div>
							<div class="col-md-4">
								<p><i class="fa fa-phone-square"> 0909090909</i></p>
								<p><i class="fa fa-money"> 1.000.000 VNĐ</i></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<img src="./images/thumbs.png" alt="aita" class="">
							</div>
							<div class="col-md-4">
								<p><i class="fa fa-home"> 40m<sup>2</sup></i></p>
								<p><i class="fa fa-bed"> 2</i></p>
							</div>
							<div class="col-md-4">
								<p><i class="fa fa-phone-square"> 0909090909</i></p>
								<p><i class="fa fa-money"> 1.000.000 VNĐ</i></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<img src="./images/thumbs.png" alt="aita" class="">
							</div>
							<div class="col-md-4">
								<p><i class="fa fa-home"> 40m<sup>2</sup></i></p>
								<p><i class="fa fa-bed"> 2</i></p>
							</div>
							<div class="col-md-4">
								<p><i class="fa fa-phone-square"> 0909090909</i></p>
								<p><i class="fa fa-money"> 1.000.000 VNĐ</i></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<img src="./images/thumbs.png" alt="aita" class="">
							</div>
							<div class="col-md-4">
								<p><i class="fa fa-home"> 40m<sup>2</sup></i></p>
								<p><i class="fa fa-bed"> 2</i></p>
							</div>
							<div class="col-md-4">
								<p><i class="fa fa-phone-square"> 0909090909</i></p>
								<p><i class="fa fa-money"> 1.000.000 VNĐ</i></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div id="google-map"></div>
				</div>
			</div>
		</div> <!-- /container -->
		{{{body}}}
		<footer class="footer">
			<div class="container">
				<p class="text-muted text-center">Apartment in the air &copy; 2015</p>
			</div>
		</footer>
		<script src="./js/jquery/jquery-2.1.4.min.js"></script>
		<script src="./js/bootstrap/bootstrap-3.3.5.min.js"></script>
		<script src="//maps.googleapis.com/maps/api/js"></script>
		<script src="./js/script.js"></script>
	</body>
</html>
