{{!-- Capheshift 2015 --}}
{{!-- Author: Tw --}}

<div class="container">
	<div class="col-md-8">	
		<small>Hồ Chí Minh / Quận 7</small>
		<h2 class="header-01">Cho thuê nhà 76m2, 2 phòng ngủ, 1 phòng tắm - 18 triệu/tháng</h2>
		<h4>23-27 Nguyễn Hữu Thọ, Hồ Chí Minh, Việt Nam</h4>

		<div class="content-wrapper">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#home" aria-controls="home" role="tab" data-toggle="tab">Hình ảnh</a>
				</li>
				<li role="presentation">
					<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Bản đồ</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="home">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nam dolorem facere voluptas ipsam ut, aliquam! Cumque sint assumenda nesciunt, repudiandae qui hic non suscipit dolorem quos quod velit totam.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia repudiandae quibusdam alias possimus. Porro laboriosam quae odit. Ut maiores commodi illo amet, quo soluta numquam placeat, eum delectus in nam!</p>
				</div>
				<div role="tabpanel" class="tab-pane" id="profile">Bản đồ</div>
			</div>
		</div>

		<div class="content-wrapper">
			<h4>Thông tin chi tiết</h4>
			<div class="row">
				<div class="col-md-4">
					<b>Ngày đăng: </b><span>100m2</span>
				</div>
				<div class="col-md-4">
					<b>Hình thức: </b><span>100m2</span>
				</div>
				<div class="col-md-4">
					<b>Giá: </b><span>100m2</span>
				</div>
				<div class="col-md-4">
					<b>Diện tích: </b><span>100m2</span>
				</div>
				<div class="col-md-4">
					<b>Phòng ngủ: </b><span>100m2</span>
				</div>
				<div class="col-md-4">
					<b>Phòng tắm: </b><span>100m2</span>
				</div>
				<div class="col-md-4">
					<b>Hướng: </b><span>100m2</span>
				</div>
				<div class="col-md-4">
					<b>Số tầng: </b><span>100m2</span>
				</div>
				<div class="col-md-4">
					<b>Môi giới: </b><span>Tiếp</span>
				</div>
			</div>
		</div>

		<div class="content-wrapper">
			<h4>Mô tả chung</h4>
			<p>Chúng tôi cần Bán và cho Thuê căn hộ cao cấp Sun Rise City tại quận 7, nằm tại trục đường Nguyễn Hữu Thọ liên kết với các quận 1, 4, 5, 8.</p>
			<p>Mặt tiền đường Nguyễn Hữu Thọ, đối diện siêu thị Lotte Quận 7. </p>
			<br/>
			<p> - Cách Phú Mỹ Hưng 1 phút. </p>
			<p> - Cách trung tâm Quận 1,5 chỉ 5 phút. </p>
			<p> - Gần trường đại học Tôn Đức Thắng, đại học Cảnh Sát Nhân Dân, đại học RMIT, siêu thị Lotte </p>Mart, …. 
			Tận hưởng ngay những tiện ích nội khu cao cấp của căn hộ: 
			<p> - 5 tầng trung tâm thương mại, mua sắm. </p>
			<p> - Hồ bơi tràn phong cách Singapore. </p>
			<p> - Tiệc nướng BBQ ngoài trời. </p>
			<p> - Công viên, cây xanh, Khu vui chơi trẻ em, nhà trẻ,..</p>
			<br/>
			<p>Hiện tại chúng tôi cung cấp từ 1 - 4 Phòng ngủ, giá tốt và đa dạng tuỳ theo nhu cầu của quý khách.</p>
			<p>Liên hệ để được tư vấn và xem nhà : Đại 0948.221.411</p>
		</div>
	</div>
	<div class="col-md-4">
		<h3>Thông tin liên lạc</h3>
	</div>
</div>
