
<div class="container">
	<div class="col-md-8">
		<h1>Đăng tin nhà đất</h1>

		<form class="form-home" action="#" method="post" accept-charset="utf-8">
			<div class="">
				<div class="form-group">
					<div class="group-title">Thông tin bắt buộc</div>
					<div class="group-container row">
						<div class="col-xs-12 col-sm-8 col-md-9">
							<div class="group-control">
								<label>Tiêu đề</label>
								<input class="form-control" type="text" required="required" placeholder="Bán nhà mặt tiền 100m2, 2 phòng ngủ, 2 phòng tắm">
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-3">
							<div class="group-control group-checkbox">
								<label class="checkbox-lable">
									<input type="checkbox" value=1> Mặt tiền
								</label>
							</div>
						</div>
						<div class="col-xs-12 col-sm-8 col-md-9">
							<div class="group-control">
								<label>Địa chỉ đầy đủ</label>
								<input class="form-control" type="text" required="required" placeholder="43, Đường 17, Kp6, Hiệp Bình Chánh, Thủ Đức, HCM">
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-3">
							<div class="group-control group-checkbox">
								<label class="checkbox-lable">
									<input type="checkbox" value=1> Ẩn vị trí
								</label>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="group-control">
								<label>Tỉnh/Thành phố</label>
								<select class="form-control" required="required">
									<option value="01">OptionA</option>
									<option value="02">OptionB</option>
								</select>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="group-control">
								<label>Quận/Huyện</label>
								<select class="form-control" required="required">
									<option value="01">OptionA</option>
									<option value="02">OptionB</option>
								</select>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="group-control">
								<label>Phường/Xã</label>
								<input class="form-control" type="text" required="required">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="group-control">
								<label>Đường</label>
								<select class="form-control" required="required">
									<option value="01">OptionA</option>
									<option value="02">OptionB</option>
								</select>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="group-control">
								<label>Giá</label>
								<input class="form-control" type="text" required="required">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="group-control">
								<label>Đơn vị</label>
								<input class="form-control" type="text" required="required">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="group-control">
								<label>Diện tích (m²)</label>
								<input class="form-control" type="text" required="required">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="group-control">
								<label>Phòng ngủ</label>
								<select class="form-control" required="required">
									<option value="01">OptionA</option>
									<option value="02">OptionB</option>
								</select>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="group-control">
								<label>Phòng tắm</label>
								<input class="form-control" type="text" required="required">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="group-control">
								<label>Loại hình</label>
								<select class="form-control" required="required">
									<option value="01">OptionA</option>
									<option value="02">OptionB</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="group-title">Hình ảnh</div>
					<div role="tabpanel" class="tab-pane active" id="home">
						<span class="wrapper-cover-img">
							<img class="media-object" src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
						</span>
						<span class="wrapper-cover-img">
							<img class="media-object" src="http://images.prd.mris.com/image/V2/1/zMjCkcFeFDXDAP8xDhbD9ZmrVL7oGkBvSnh2bDBZ6UB5UHXa3_g8c6XYhRY_OxgGaMBMehiTWXDSLzBMaIzRhA.jpg">
						</span>
						<span class="wrapper-cover-img">
							<img class="media-object" src="http://images.prd.mris.com/image/V2/1/iwn7qH9r9OPnqTaTTxxb8PBzQHk2EiHU2PBBntt041AZsVsGY-SeUexTMLgRcYSJukrKOwHaYnTVXAsk6RdSmA.jpg">
						</span>
						<span class="wrapper-cover-img">
							<img class="media-object" src="http://images.prd.mris.com/image/V2/1/7IZk2HTN0AcHnIb7VCvisTUc3kTbn0UyHQlVAlwkNLM3_8UNN8pcgy9u6KVNoRGGH_kdUlpYehdbqzctRNUebg.jpg">
						</span>
						<span class="wrapper-cover-img">
							<img class="media-object" src="http://images.prd.mris.com/image/V2/1/vGoNjc2jHGb87GlnnDQlf6LxeOUgIOn0bL6Wvn1nEnig2Ntq6W7xN5cOQBZZeNxl9O42DOkHUw0LNnj1ZB2KHA.jpg">
						</span>
						<span class="wrapper-cover-img">
							<img class="media-object" src="http://images.prd.mris.com/image/V2/1/uLp58OH37CTPHxXcgJXYw8zT2u3xg_2XIbFndB6J0WTSAStGBaEV6YsdAseSZTKAdthm0OzG-Ca_EIkoXIEBxw.jpg">
						</span>
					</div>
				</div>
				<div class="form-group">
					<div class="group-title">Thông tin mô tả</div>
					<div class="group-container row">
						<div class="col-xs-12">
							<div class="group-control">
								<textarea row="4" class="form-control" style="width: 100%; height: 150px;"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="group-title">Thông tin thêm</div>
					<div class="group-container row">
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="group-control">
								<label>Chọn nếu nhà thuộc dự án</label>
								<select class="form-control" required="required">
									<option value="01">OptionA</option>
									<option value="02">OptionB</option>
								</select>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="group-control">
								<label>Hướng</label>
								<select class="form-control" required="required">
									<option value="01">OptionA</option>
									<option value="02">OptionB</option>
								</select>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="group-control">
								<label>Số tầng</label>
								<select class="form-control" required="required">
									<option value="01">OptionA</option>
									<option value="02">OptionB</option>
								</select>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="group-control">
								<label>Lộ giới (m)</label>
								<input class="form-control" required="required">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="group-control">
								<label>Năm xây dựng</label>
								<input class="form-control" required="required">
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="group-title">Thông tin liên hệ</div>
					<div class="group-container row">
						<div class="col-xs-12">
							<div class="group-control">
								<label>Tên *</label>
								<input class="form-control" type="text" required="required">
							</div>
						</div>
						<div class="col-xs-12">
							<div class="group-control">
								<label>Email *</label>
								<input class="form-control" type="text" required="required">
							</div>
						</div>
						<div class="col-xs-12">
							<div class="group-control">
								<label>Số điện thoại *</label>
								<input class="form-control" type="text" required="required">
							</div>
						</div>
						<div class="col-xs-12">
							<div class="checkbox-label">
								<label>
									<input type="checkbox" value="1"> Tiếp môi giới
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="group-container row">
						<div class="col-md-12">
							<button class="btn btn-success" type="submit">Hoàn tất</button>
							<label>Tin đăng của bạn sẽ được kiểm duyệt trong vòng 1 giờ trước khi được đăng.</label>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
