<div class="main-content">
	<div class="container js-container jspage-dang-tin">
		<div class="columns nine">
			<h3 class="page-title">Đăng tin nhà đất</h3>
	
			<p class='form-title'>Thông tin bắt buộc</p>
			<div class='row'>
				<div class='columns three'>
					<label>Hình ảnh</label>
				</div>
				<div class='columns nine'>
					<form action="http://aita.vn:7002/uploadHandler" 
						class="dropzone" id="my-awesome-dropzone">
					</form>
				</div>
			</div>

			<div id="add-new-post" class="add-new-post"></div>
		</div>
	</div>
</div>
