{{!< default}}

{{!-- <div class="row">
	<div class="jumbotron">
		<h1>Apartments in the air</h1>
		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</p>
	</div>
</div>
<div class="row">
	<form action="#" role="form" name="search-form">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Lorem Ipsum is simply dummy text of the printing">
		</div>
	</form>
</div> --}}

<nav class="navbar nav-search">
	<div class="container-fluid">
		<!-- Single button -->
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Nhà riêng <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>

		<!-- Single button -->
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Thuê <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>

		<!-- Single button -->
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Hồ Chí Minh <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>

		<!-- Single button -->
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Phường/Xã <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>

		<!-- Single button -->
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Giá tiền <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>

		<!-- Single button -->
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Diện tích <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>

		<!-- Single button -->
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Tìm nâng cao <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>

		<button type="button" class="btn btn-success">Tìm kiếm</button>
	</div>
</nav>

<div class="row">
	<div class="col-xs-6">
		<h3>Lorem Ipsum is simply dummy</h3>
		<div class="list-items">
			<div class="row">
				<div class="col-md-4">
					<img src="./images/thumbs.png" alt="aita" class="">
				</div>
				<div class="col-md-4">
					<p><i class="fa fa-home"> 40m<sup>2</sup></i></p>
					<p><i class="fa fa-bed"> 2</i></p>
				</div>
				<div class="col-md-4">
					<p><i class="fa fa-phone-square"> 0909090909</i></p>
					<p><i class="fa fa-money"> 1.000.000 VNĐ</i></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<img src="./images/thumbs.png" alt="aita" class="">
				</div>
				<div class="col-md-4">
					<p><i class="fa fa-home"> 40m<sup>2</sup></i></p>
					<p><i class="fa fa-bed"> 2</i></p>
				</div>
				<div class="col-md-4">
					<p><i class="fa fa-phone-square"> 0909090909</i></p>
					<p><i class="fa fa-money"> 1.000.000 VNĐ</i></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<img src="./images/thumbs.png" alt="aita" class="">
				</div>
				<div class="col-md-4">
					<p><i class="fa fa-home"> 40m<sup>2</sup></i></p>
					<p><i class="fa fa-bed"> 2</i></p>
				</div>
				<div class="col-md-4">
					<p><i class="fa fa-phone-square"> 0909090909</i></p>
					<p><i class="fa fa-money"> 1.000.000 VNĐ</i></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<img src="./images/thumbs.png" alt="aita" class="">
				</div>
				<div class="col-md-4">
					<p><i class="fa fa-home"> 40m<sup>2</sup></i></p>
					<p><i class="fa fa-bed"> 2</i></p>
				</div>
				<div class="col-md-4">
					<p><i class="fa fa-phone-square"> 0909090909</i></p>
					<p><i class="fa fa-money"> 1.000.000 VNĐ</i></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<img src="./images/thumbs.png" alt="aita" class="">
				</div>
				<div class="col-md-4">
					<p><i class="fa fa-home"> 40m<sup>2</sup></i></p>
					<p><i class="fa fa-bed"> 2</i></p>
				</div>
				<div class="col-md-4">
					<p><i class="fa fa-phone-square"> 0909090909</i></p>
					<p><i class="fa fa-money"> 1.000.000 VNĐ</i></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<img src="./images/thumbs.png" alt="aita" class="">
				</div>
				<div class="col-md-4">
					<p><i class="fa fa-home"> 40m<sup>2</sup></i></p>
					<p><i class="fa fa-bed"> 2</i></p>
				</div>
				<div class="col-md-4">
					<p><i class="fa fa-phone-square"> 0909090909</i></p>
					<p><i class="fa fa-money"> 1.000.000 VNĐ</i></p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div id="google-map"></div>
	</div>
</div>
			
