{{!< default}}

{{!-- <div class="row">
	<div class="jumbotron">
		<h1>Apartments in the air</h1>
		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</p>
	</div>
</div>
<div class="row">
	<form action="#" role="form" name="search-form">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Lorem Ipsum is simply dummy text of the printing">
		</div>
	</form>
</div> --}}

<nav class="navbar nav-search">
	<div class="container-fluid">
		<!-- Single button -->
		<div class="btn-group _index">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Nhà riêng <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>

		<!-- Single button -->
		<div class="btn-group _index">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Thuê <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>

		<!-- Single button -->
		<div class="btn-group _index">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Hồ Chí Minh <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>

		<!-- Single button -->
		<div class="btn-group _index">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Phường/Xã <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>

		<!-- Single button -->
		<div class="btn-group _index">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Giá tiền <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>

		<!-- Single button -->
		<div class="btn-group _index">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Diện tích <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>

		<!-- Single button -->
		<div class="btn-group _index">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Tìm nâng cao <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>

		<button type="button" class="btn btn-success">Tìm kiếm</button>
	</div>
</nav>

<div class="container-fluid main-block">
	<div class="row __height-100pc">
		<div class="col-sm-6 main-block-left __height-100pc">
			<div class="result-block __height-100pc">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs _full" role="tablist">
					<li role="presentation" class="active">
						<a class="tab-item" href="#home" aria-controls="home" role="tab" data-toggle="tab">Kết quả</a>
					</li>
					<li role="presentation">
						<a class="tab-item" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Đã lưu</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content _index-page">
					<div role="tabpanel" class="tab-pane active" id="home">
						<div class="list-result">
							<div class="media">
								<div class="media-left">
									<a href="#">
										<span class="wrapper-cover-img">
											<img class="media-object" src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
										</span>
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading"><a href="/chi-tiet">1.500.000 VNĐ</a></h4>
									<ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
										<li>4,820 SqFt</li>
										<li style="list-style: none">|</li>
										<li>5 Beds</li>
										<li style="list-style: none">|</li>
										<li>5 Baths</li>
									</ul>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio mollitia natus, ex assumenda iste odio repellendus esse tenetur.
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<a href="#">
										<span class="wrapper-cover-img">
											<img class="media-object" src="http://images.prd.mris.com/image/V2/1/zMjCkcFeFDXDAP8xDhbD9ZmrVL7oGkBvSnh2bDBZ6UB5UHXa3_g8c6XYhRY_OxgGaMBMehiTWXDSLzBMaIzRhA.jpg">
										</span>
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading"><a href="/chi-tiet">1.500.000 VNĐ</a></h4>
									<ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
										<li>4,820 SqFt</li>
										<li style="list-style: none">|</li>
										<li>5 Beds</li>
										<li style="list-style: none">|</li>
										<li>5 Baths</li>
									</ul>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio mollitia natus, ex assumenda iste odio repellendus esse tenetur.
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<a href="#">
										<span class="wrapper-cover-img">
											<img class="media-object" src="http://images.prd.mris.com/image/V2/1/iwn7qH9r9OPnqTaTTxxb8PBzQHk2EiHU2PBBntt041AZsVsGY-SeUexTMLgRcYSJukrKOwHaYnTVXAsk6RdSmA.jpg">
										</span>
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading"><a href="/chi-tiet">1.500.000 VNĐ</a></h4>
									<ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
										<li>4,820 SqFt</li>
										<li style="list-style: none">|</li>
										<li>5 Beds</li>
										<li style="list-style: none">|</li>
										<li>5 Baths</li>
									</ul>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio mollitia natus, ex assumenda iste odio repellendus esse tenetur.
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<a href="#">
										<span class="wrapper-cover-img">
											<img class="media-object" src="http://images.prd.mris.com/image/V2/1/7IZk2HTN0AcHnIb7VCvisTUc3kTbn0UyHQlVAlwkNLM3_8UNN8pcgy9u6KVNoRGGH_kdUlpYehdbqzctRNUebg.jpg">
										</span>
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading"><a href="/chi-tiet">1.500.000 VNĐ</a></h4>
									<ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
										<li>4,820 SqFt</li>
										<li style="list-style: none">|</li>
										<li>5 Beds</li>
										<li style="list-style: none">|</li>
										<li>5 Baths</li>
									</ul>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio mollitia natus, ex assumenda iste odio repellendus esse tenetur.
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<a href="#">
										<span class="wrapper-cover-img">
											<img class="media-object" src="http://images.prd.mris.com/image/V2/1/vGoNjc2jHGb87GlnnDQlf6LxeOUgIOn0bL6Wvn1nEnig2Ntq6W7xN5cOQBZZeNxl9O42DOkHUw0LNnj1ZB2KHA.jpg">
										</span>
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading"><a href="/chi-tiet">1.500.000 VNĐ</a></h4>
									<ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
										<li>4,820 SqFt</li>
										<li style="list-style: none">|</li>
										<li>5 Beds</li>
										<li style="list-style: none">|</li>
										<li>5 Baths</li>
									</ul>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio mollitia natus, ex assumenda iste odio repellendus esse tenetur.
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<a href="#">
										<span class="wrapper-cover-img">
											<img class="media-object" src="http://images.prd.mris.com/image/V2/1/uLp58OH37CTPHxXcgJXYw8zT2u3xg_2XIbFndB6J0WTSAStGBaEV6YsdAseSZTKAdthm0OzG-Ca_EIkoXIEBxw.jpg">
										</span>
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading"><a href="/chi-tiet">1.500.000 VNĐ</a></h4>
									<ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
										<li>4,820 SqFt</li>
										<li style="list-style: none">|</li>
										<li>5 Beds</li>
										<li style="list-style: none">|</li>
										<li>5 Baths</li>
									</ul>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio mollitia natus, ex assumenda iste odio repellendus esse tenetur.
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<a href="#">
										<span class="wrapper-cover-img">
											<img class="media-object" src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
										</span>
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading"><a href="/chi-tiet">1.500.000 VNĐ</a></h4>
									<ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
										<li>4,820 SqFt</li>
										<li style="list-style: none">|</li>
										<li>5 Beds</li>
										<li style="list-style: none">|</li>
										<li>5 Baths</li>
									</ul>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio mollitia natus, ex assumenda iste odio repellendus esse tenetur.
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="profile">
						<div class="list-result">
							<div class="media">
								<div class="media-left">
									<a href="#">
										<span class="wrapper-cover-img">
											<img class="media-object" src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
										</span>
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading"><a href="/chi-tiet">1.500.000 VNĐ</a></h4>
									<ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
										<li>4,820 SqFt</li>
										<li style="list-style: none">|</li>
										<li>5 Beds</li>
										<li style="list-style: none">|</li>
										<li>5 Baths</li>
									</ul>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio mollitia natus, ex assumenda iste odio repellendus esse tenetur.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-6 map-block __height-100pc">
			<div id="google-map" class="google-map-block"></div>
		</div>
	</div>
</div>
