{{!< default}}

{{!-- <div class="row">
	<div class="jumbotron">
		<h1>Apartments in the air</h1>
		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</p>
	</div>
</div>
<div class="row">
	<form action="#" role="form" name="search-form">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Lorem Ipsum is simply dummy text of the printing">
		</div>
	</form>
</div> --}}

<nav class="navbar nav-search">
	<div class="container-fluid">
		<!-- Single button -->
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Nhà riêng <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>

		<!-- Single button -->
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Thuê <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>

		<!-- Single button -->
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Hồ Chí Minh <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>

		<!-- Single button -->
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Phường/Xã <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>

		<!-- Single button -->
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Giá tiền <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>

		<!-- Single button -->
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Diện tích <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>

		<!-- Single button -->
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Tìm nâng cao <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>

		<button type="button" class="btn btn-success">Tìm kiếm</button>
	</div>
</nav>

<div class="container-fluid result-block">
	<div class="row">
		<div class="col-md-6">
			<div>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a class="tab-item" href="#home" aria-controls="home" role="tab" data-toggle="tab">Kết quả</a>
					</li>
					<li role="presentation">
						<a class="tab-item" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Đã lưu</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<div class="list-result">
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object" src="http://placehold.it/100x100">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">Media heading</h4>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio mollitia natus, ex assumenda iste odio repellendus esse tenetur. Perspiciatis eum animi ipsum commodi id similique nihil alias, dicta magnam nobis.
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object" src="http://placehold.it/100x100">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">Media heading</h4>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio mollitia natus, ex assumenda iste odio repellendus esse tenetur. Perspiciatis eum animi ipsum commodi id similique nihil alias, dicta magnam nobis.
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object" src="http://placehold.it/100x100">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">Media heading</h4>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio mollitia natus, ex assumenda iste odio repellendus esse tenetur. Perspiciatis eum animi ipsum commodi id similique nihil alias, dicta magnam nobis.
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object" src="http://placehold.it/100x100">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">Media heading</h4>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio mollitia natus, ex assumenda iste odio repellendus esse tenetur. Perspiciatis eum animi ipsum commodi id similique nihil alias, dicta magnam nobis.
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object" src="http://placehold.it/100x100">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">Media heading</h4>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio mollitia natus, ex assumenda iste odio repellendus esse tenetur. Perspiciatis eum animi ipsum commodi id similique nihil alias, dicta magnam nobis.
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object" src="http://placehold.it/100x100">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">Media heading</h4>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio mollitia natus, ex assumenda iste odio repellendus esse tenetur. Perspiciatis eum animi ipsum commodi id similique nihil alias, dicta magnam nobis.
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object" src="http://placehold.it/100x100">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">Media heading</h4>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio mollitia natus, ex assumenda iste odio repellendus esse tenetur. Perspiciatis eum animi ipsum commodi id similique nihil alias, dicta magnam nobis.
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object" src="http://placehold.it/100x100">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">Media heading</h4>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio mollitia natus, ex assumenda iste odio repellendus esse tenetur. Perspiciatis eum animi ipsum commodi id similique nihil alias, dicta magnam nobis.
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="profile">
						<div class="list-result">
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object" src="http://placehold.it/100x100">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">Media heading</h4>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio mollitia natus, ex assumenda iste odio repellendus esse tenetur. Perspiciatis eum animi ipsum commodi id similique nihil alias, dicta magnam nobis.
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="col-md-6 map-block">
			<div id="google-map"></div>
		</div>
	</div>
</div>
