<div class="container login-page">
	<div class="col-sm-4 col-sm-offset-4">
		<div class="panel-heading">
			<div class="panel-title text-center">
				<h3>Đăng nhập</h3> 
			</div>
		</div>

		<div class="panel-body">
			<form class="form-horizontal" enctype="multipart/form-data" id="form" method="post" name="form">
				<div class="input-group input-group--login">
					<span class="input-group-addon glyphicon glyphicon-send"></span>
					<input class="form-control" id="email" name="email" placeholder="your email" type="text" />
				</div>

				<div class="input-group input-group--login">
					<span class="input-group-addon glyphicon glyphicon-lock"></span>
					<input class="form-control" id="password" name="password" placeholder="password" type="password" />
				</div>

				<div class="form-group form-group--clean">
					<div class="col-sm-12 controls">
						<button class="btn btn-success pull-right" type="submit">
							Đăng nhập
						</button>
						<a href="#/register" class="btn btn-link pull-right">Đăng ký</a>
					</div>
				</div>

				<div class="form-group form-group--facebook">
					<div class="col-sm-12 controls">
						<a href="/auth/facebook" class="btn btn-primary btn-block pull-right" type="submit">
							Đăng nhập bằng Facebook
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	</div>
