

<div class="main-content">
	<div class="container js-container jspage-profile">
		<h3 class="page-title">Thông tin cá nhân</h3>
		
		<p class='form-title'>Cập nhật profile</p>
		<div id="profile-component" class="profile-component"></div>
		<button class="button-link">Đăng xuất</button>

		<p class='form-title'>Danh sách bài đăng</p>
		<div id="list-post-component" class="list-post-component"></div>

	</div>
</div>
