// Capheshift 2015
// Author: Tw

@import "../variables";

$nav-bg: whitesmoke;

.nav-search {
	padding-top: 0.5*$gutter;
	padding-bottom: 0.5*$gutter;
	background-color: $nav-bg;
	border-radius: 0;
	margin-bottom: 0;
}

.wrapper-cover-img {
	position: relative;
	width: 170px;
	height: 120px;
	display: inline-block;

	img {
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
	}
}

.form-group {
	margin: 0;
	margin-bottom: $gutter;
	border-bottom: 1px dotted whitesmoke;

	&--clean,
	&--facebook {
		border-bottom: 0;
		margin-bottom: $gutter;
	}

	&--facebook {
		border-top: 1px solid whitesmoke;
		margin-top: 3*$gutter;
		padding-top: $gutter;
	}

	&:last-child {
		border-bottom: 0;
	}
}

.glyphicon {
	top: 0;
}

.tel {
	color: black;
}
