// Capheshift 2015
// Author: Tw

@import "../variables";

$nav-bg: whitesmoke;

.nav-search {
	padding-top: 0.5*$gutter;
	padding-bottom: 0.5*$gutter;
	background-color: $nav-bg;
	border-radius: 0;
	margin-bottom: 0;
}

.wrapper-cover-img {
	position: relative;
	width: 170px;
	height: 120px;
	display: block;

	img {
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
	}
}
