/**
 * Capheshift 2016
 * Author: Tw
 */

body,
.main {}

.main-content {
	padding-top: $header-h;
	padding-bottom: $header-h;
	margin-bottom: 2*$gutter;
	border-bottom: 1px solid whitesmoke;
}

.full-height-wrapper {
	height: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	z-index: $index-content;
}

.main-block {
	height: 100%;
	height: 100vh;
}

.index-block {
	position: absolute;
	top: $header-h;
	bottom: 0;
	left: 0;
	right: 0;

	&:after {
		clear: both;
	}

	&--left,
	&--right {
		height: 100%;
	}

	&--left {
		overflow-x: hidden;
		overflow-y: scroll;
		float: left;
		width: 60%;
	}

	&--right {
		width: 40%;
		float: right;
	}
}

.google-map-block {
	height: 100%;
}

.avatar-wrapper {
	$avatar-w: 60px;
	width: 60px;
	height: 60px;
	display: inline-block;
	overflow-y: hidden;

	img {
		width: 100%;
	}
}

.content-wrapper {
	margin-top: $gutter;
	margin-bottom: $gutter;
	border-bottom: 1px solid whitesmoke;
	padding-bottom: $gutter;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		border-bottom: none;
	}

	&__no-padding {
		padding-bottom: 0;
	}
}

.infomation-b {
	font-size: 1.6rem;
}

.sub-detail-info {
	margin-top: 2*$gutter;
}

.suggest-post {
	margin-left: 2*$gutter;
	margin-top: $gutter;
	padding-bottom: $gutter;
	border-bottom: 1px solid whitesmoke;
	opacity: 0.4;

	&:hover {
		opacity: 1
	}

	&:last-child {
		border-bottom: none;
	}
}

.input-map {
	height: 200px;
}

.search-box-container {}


.searchbox {
	
	&--wrapper {
		padding: $gutter;
		padding-top: 0;
		border-bottom: 1px solid whitesmoke;
	}

	&--control {}

	&--left,
	&--right {}

	&--left {
		label {
			text-align: right;
		}
	}

	&--right {
		button {
			float: right;
		}
	}
}
