/**
 * Capheshift 2016
 * Author: Tw
 */

.media-wrapper {
	padding: $gutter;
	border-bottom: 1px solid whitesmoke;

	&:last-child {
		border-bottom: none;
	}

	&__no-padding {
		padding: 0;
	}

	&.active {
		background-color: $color-06;
		transition: all 0.3s;
	}
}

.media {
	width: 100%;
}

.media-left,
.media-body {
	display: table-cell;
	vertical-align: top;
}

.media-left {}

.media-body {
	padding-left: $gutter;
}

.media-heading {
	font-size: 2rem;
	margin-bottom: 0.5*$gutter;

	a {
		text-decoration: none;
	}

	* {
		display: inline-block;
	}
}


/**	
 * tel group, 
 */
.tel-group-wrapper {
}

.tel-group {
	&--label {
		font-weight: normal;
		color: black;
		display: inline;
		margin: 0;
		line-height: 23px;
		font-size: 1.6rem;
		margin-right: 5px;
	}

	&--checkbox {
		visibility: hidden;
		display: none !important;
		margin: 0;
	}

	&--phone-number {
		display: none;
		font-weight: normal;
		color: black;
		margin: 0;
		text-decoration: none;
		line-height: 23px;
		font-size: 1.6rem;
		margin-right: 5px;
	}
}

.tel-group--checkbox:checked {
	~.tel-group {
		&--label {
			display: none;
		}

		&--phone-number {
			display: inline;
		}
	}
}


/**
 * post info
 */
.post-info {
	&--list {
		list-style-type: none;
		margin-bottom: 0.5*$gutter;
	}

	&--item {
		display: inline;
		padding: 0 0.5*$gutter;

		&:first-child {
			padding-left: 0;
		}
	}

	/**
	 * Type sign
	 */
	&--type {
		display: inline;
		margin-right: 5px;
		background-color: #3C763D;
		color: #FFF;
		padding: 2px 5px 2px 5px;
		border: 2px solid #3C763D;
		border-radius: 5px;
	}

	/**
	 * realEstate sign
	 */
	&--realEstate {
		display: inline;
		margin-right: 5px;
		background-color: #8A6D3B;
		color: #FFF;
		padding: 2px 5px 2px 5px;
		border: 2px solid #8A6D3B;
		border-radius: 5px;
	}	

	&--div {}
}

/**
 * image wrapper 
 */
.wrapper-cover-img {
	width: 195px;
	height: 125px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	margin-right: 5px;

	img {
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
	}
}

/**
 * expired sign
 */
.expired {
	display: inline;
	color: #A94442;
	padding: 1px 2px 1px 2px;
	border: 2px solid #A94442;
	border-radius: 5px;
}
/**
 * actived sign
 */
.actived {
	display: inline;
	margin-right: 5px;
	background-color: #3C763D;
	color: #FFF;
	padding: 2px 5px 2px 5px;
	border: 2px solid #3C763D;
	border-radius: 5px;
}

/**
 * error tips
 */
.error-tips {
	color: red;
	visibility: hidden;
}

/**
 * Button to bookmark
 */
.btn-bookmark:before {
	content: "\2714";
}
.btn-bookmark {
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  transition: background-color 300ms ease;

	display: inline;
	font-size: 2rem;
	font-weight: 800;
	background-color: #FFF;
	color: #3C763D;
	margin-left: 10px;
	padding: 3px 9px 3px 9px;
	border: 2px solid #3C763D;
	border-radius: 150px;
}
.btn-bookmark:hover {
	cursor: pointer;
	display: inline;
	font-size: 2rem;
	font-weight: 800;
	background-color: #3C763D;
	color: #FFF;
	margin-left: 10px;
	padding: 3px 9px 3px 9px;
	border: 2px solid #3C763D;
	border-radius: 50px;
}

/**
 * Button for bookmarked
 */
.btn-bookmarked:before {
	content: "\2714";
}
.btn-bookmarked:after {
	content: "Đã lưu";
	font-size: 1.8rem;
	font-weight: 500;
}
.btn-bookmarked:hover:before {
	cursor: pointer;
	content: "\2717";
}
.btn-bookmarked:hover {
	cursor: pointer;
}
.btn-bookmarked {
	display: inline;
	margin-left: 10px;
	font-size: 2rem;
	font-weight: 800;
	color: #3C763D;
}

/**
 * 
 */
.sumary-b {
	display: inline-block;
	margin-bottom: 0.5*$gutter;
}
