// Capheshift 2015
// Author: Tw

@import "../variables";

$fixed-top: 100px;

.tab-pane {
	padding-top: $gutter;
}

// custom tab button
.nav-tabs > li > a {
	padding-left: 4*$gutter;
	padding-right: 4*$gutter;
	border-radius: 0;
	border-top-color: white;
}

.main-block {
	position: fixed;
	top: $fixed-top;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}

.main-block-left {
	padding-right: 0;
}

.result-block {
	position: relative;
}

.tab-content {
	&._index-page {
		position: absolute;
		top: 40px;
		left: 0;
		right: 0;
		bottom: 0;
		overflow-y: auto;
	}
}

.list-result {
	margin-bottom: 30px;
}

.map-block {
	padding: 0;
	position: relative;
	// height: 600px;
	// min-height: 100%;
}

.google-map-block {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.btn-group._index {
	margin-right: 0.5*$gutter;
}

// #google-map {
// 	width: 100%;
// 	height: 100%;
// }
