// capheshift 2015
// author: tw

@import "variables";

body {
	font-size: 16px;
}

#header {
	margin-top: 30px;
}

#footer {
	margin-top: 50px;
	border-top: 1px solid #eeeeee;
	padding: 20px 0;
	color: #777777;
}

.company-title {
	text-transform: uppercase;
	font-size: 12px;
}

.main {
	padding-top: 50px;
}

.__height-100pc {
	height: 100%;
}

.container {
	// margin-top: $gutter;
}

.content-wrapper {
	margin-top: $gutter;
	padding-bottom: $gutter;
	border-bottom: 1px dotted whitesmoke;

	&._no-bottom-border,
	&:last-child {
		border-bottom: 0;
	}
}

.header-01 {
	margin-top: $gutter;
	margin-bottom: $gutter;
}

.header-02 {
}

.header-03 {
}

label {
	&:hover {
		cursor: pointer;
	}
}

.u-hidden {
	display: none;
}
