// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors
$light-grey: #e1e1e1 !default;
$dark-grey: #333 !default;
$primary-color: #33c3f0 !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;
$border-color: #bbb !default;
$link-color: #1eaedb !default;
$font-color: #222 !default;

// Typography
$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//Grid Variables
$container-width: 960px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 90% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 3% !default; // space between columns

// Misc
$global-radius: 4px !default;

$header-h: 54px;

/**	
 * custom vars
 */
$font-size-base: 14px;
$gutter: 15px;


/**
 * color pattern
 */
$pri-color-01: #283739;
$pri-color-02: #2C5D63;
$pri-color-03: #A9C52F;
$pri-color-04: #F7EEBB;

/**
 * z-index
 */
$index-overlay: 10000;
$index-header: 1000;
$index-content: 100;
$index-content-01: 50;
$index-content-02: 50;
$index-content-03: 50;
